---
layout: default
make-smaller-titles: true
---

{% assign languages = site.data.db[languages] %}

<div class="container-fluid index">
    <div class="row">

        <div class="col-md-12 main content-panel">

            <div class="gravatar">
                <img src="{{ site.title_image }}" class="img-circle about-image" height="150" width="150" alt="{{ site.title }}" />
            </div>

            <h1 class="header author-header" itemprop="headline">{{ site.title }}</h1>

            <div class="author-text">
                {{ site.title_description }}
            </div>

            {% include social_links.html %}
          </div>
          <div class="col-md-12 main content-panel">

            <div class="articles">
              <h2>Languages Spoken</h2>
              {{languages}}
              <ul>
                  {% for lang in languages %}
                      <li>
                          <h3>{{ lang.name }}</h3>
                          <small>{{ lang.level }}</small>
                          <br>
                      </li>
                  {% endfor %}
              </ul>
              <br>
              <hr>
              <h2>Education</h2>
              <ul>
                  {% for post in site.posts %}
                    {% if post.category == 'education' %}
                      <li>
                          <h3>{{ post.title }}</h3>
                          <small>{{ post.org }} &mdash; {{ post.beginning | date: "%B %Y" }} - {{ post.date | date: "%B %Y" }}</small>
                          <br>
                          <p> {{ post.summary }}</p>
                      </li>
                    {% endif %}
                  {% endfor %}
              </ul>
              <br>
              <hr>
              <h2>Experience</h2>
              <ul>
                  {% for post in site.posts %}
                    {% if post.category == 'experience' %}
                      <li>
                          <h3>{{ post.title }}</h3>
                          <small>{{ post.org }} &mdash; {{ post.beginning | date: "%B %Y" }} - {{ post.date | date: "%B %Y" }}</small>
                          <br>
                          <p> {{ post.summary }}</p>
                      </li>
                    {% endif %}
                  {% endfor %}
              </ul>
              <br>
              <hr>
              <h2>Volunteering</h2>
              <ul>
                  {% for post in site.posts %}
                    {% if post.category == 'volunteering' %}
                      <li>
                          <h3>{{ post.title }}</h3>
                          <small>{{ post.org }} &mdash; {{ post.beginning | date: "%B %Y" }} - {{ post.date | date: "%B %Y" }}</small>
                          <br>
                          <p> {{ post.summary }}</p>
                      </li>
                    {% endif %}
                  {% endfor %}
              </ul>
              <br>
              <hr>
              <h2>Programming Languages</h2>
              <ul id="programming" >
                  {% for post in site.posts %}
                    {% if post.category == 'programming' %}
                      <li>
                          <h3>{{ post.title }}
                            {% if post.thumbnail %}
                            <small>
                              <div class="thumb">
                                <img itemprop="image" src="{{ site.data.thumbnail[page.thumbnail] }}" alt="{{ page.thumbnail }}" />
                              </div>
                            </small>
                            {% endif %}
                          </h3>
                      </li>
                    {% endif %}
                  {% endfor %}
              </ul>
            </div>
        </div>
    </div>
</div>
